{% extends 'trackingPlatform/base.html' %}

{% block content %}
{% if chk_ip == True %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Attention!</strong> This user was logged in from another IP address.
  <button type="submit" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Lot</th>
      <th scope="col">Product Name</th>
      <th scope="col">Tracking Code</th>
      <th scope="col">Transaction State</th>
      <th scope="col">Created At</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
  {% for lot in lots %}
    <tr>
      <th scope="row">{{lot.pk}}</th>
      <td class="field">{{lot.product_name}}</td>
      <td class="field">{{lot.track_code}}</td>
      <td class="field">{{lot.state}}</td>
      <td class="field">{{lot.created_at}}</td>
      <td class="field"><a href="{% url 'lot_details' pk=lot.pk %}" class="top-menu">
            {% include './icons/search.svg' %}
        </a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<div class="pagination">
 <span class="step-links">
   {% if lots.has_previous %}
     <a href="?page={{ lots.previous_page_number }}">Previous</a>
   {% endif %}
   <span class="current">
     Page {{ lots.number }} of {{ lots.paginator.num_pages }}.
   </span>
     {% if lots.has_next %}
       <a href="?page={{ lots.next_page_number }}">Next</a>
     {% endif %}
 </span>
</div>

<script>

  setTimeout(function() {
    location.reload();
}, 15000);

  $('.close').click(function(){
  $('.alert').hide();
  });



</script>

{% endblock %}
