{% extends 'trackingPlatform/base.html' %}

{% block content %}

<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="container">

    <!-- Tabs Titles -->
      <br/>
    <div class="fadeIn first">
      <h4 style="">Sign in</h4>
    </div>

    <!-- Login Form -->
    <form method="POST" >
      {% csrf_token %}

      <div class="form-group">
        <input type="text" class="form-control" id="username" name="username" placeholder="User name">
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="email" name="email" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      </div>

      <button class="btn btn-primary" type="submit" >Save</button>

    </form>

    </div>
  </div>
</div>

{% endblock %}